# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtualenvs
.env/
.venv/
env/
venv/
ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code project settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Miscellaneous
*.bak
*.tmp